@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
* { font-family: 'Source Code Pro', monospace;
 
}

body{
  width: 100vw;
  height: 100vh;
  background:#5c4b7a;

  
  
}

header{
  width: 100%;
  height: 15%;
  position: relative;
  
}
img{
  position: absolute;
  top:10px;
}

main {
  display: flex;
  width: 100%;
  height: 80%;
  margin-left:80px;
  margin-bottom:50px;
  
  
  
}
footer {
  width: 100%;
  height: 5%;
  background: black;
  padding-right:80px;
  
  text-align: center;
  color:white;
  

}
.input-texto{
  color:white;
  background: #292b36;
  border: none;
  outline:none;
  position: absolute;
  text-align: center;
  width: 500px;
  height: 288px;
  left: 80px;
  top:80px;
  border-radius:4px;
  
}
.botones {
  display:flex;
  position:absolute;
  top:380px;
  left:190px;
  width:400px;
  gap:50px
  
}
.btnencriptar, .btndesencriptar {
  width: 120px;
  height: 40px;
  background: #292b36;
  border:none;
  color:white;
  border-radius: 4px;
}
.btnencriptar:active, .btndesencriptar:active{
  background: white;
  color:#292b36;
}
.btn-copiar {
  display: none;
  width:120px;
  height: 40px;
  margin-top: 10px;
  color: white;
  background: #292b36;
  border: none;
  border-radius:4px;
  
  
  
  margin-top:2px;
}
.btn-copiar:active{
  background: white;
  color:#292b36;
}
  
.mensaje-caja{
  display:flex;
  flex-direction: column;
  gap: 20px;
  width: 336px;
  height: 275px;
  position:absolute;
  top:88px;
  left: 650px;
  align-items: center;
  
  
  
  
}
.mensaje{
  width: 336px;
  
  
  border:none;
  outline: none;
  border-radius:4px;
  color:white;
  background-image: url(imagenes/muñeco.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  
  
  
  margin-bottom: 15px;
  text-align: center;
  
  
  
}
.mensaje-caja p {
  color:white;
  background: transparent;
  border:none;
  border-radius:4px;
  
  margin:0px;
  padding-bottom: 0px;

}

.p-top{
  font-size: 18px;
  text-align: center;
}
.p-bottom{
  font-size: 10px;
  text-align: left;
  padding-left: 58px;
}

/*version mobil

@media only screen and (max-width: 480px){
  header{
    width: 100%;
    height: 5%;
  }
  main{
    margin-left: 5px;
  
  
  }
